dash==2.14.2
dash-bootstrap-components==1.5.0
langchain==0.1.11
langchain-openai==0.0.7
langchain-core==0.1.30
langchain-community==0.0.24
openai==1.13.3
requests==2.31.0
re==2.2.1
webbrowser==0.2.5
